rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
  	match /profiles/{profile} {
      allow read, write: if isSignedIn();
    }

    match /{path=**}/groupItems/{itemID} {
      allow read, write: if isSignedIn();
    }

    match /collections/{collection=**} {
      allow read, write: if isSignedIn();
    }

    function isSignedIn() {
      return request.auth.uid != null;
    }
  }
}
